WikiSearch/WikiSearch.Droid/obj/Debug
WikiSearch/WikiSearch/obj/Debug
WikiSearch/WikiSearch.iOS/bin/iPhoneSimulator/Debug
WikiSearch/WikiSearch/bin
WikiSearch/WikiSearch.iOS/obj
WikiSearch.Core/obj
WikiSearch.Models/bin
WikiSearch.API/obj
WikiSearch/WikiSearch.Droid/bin
WikiSearch.Models/obj
WikiSearch.Core/bin
WikiSearch.API/bin
WikiSearch.API.Old/obj
Wiki/obj
WikiSearch.API.New/obj
WikiSearch/WikiSearch.Droid/obj
WikiSearch/WikiSearch/obj
